/*Nav*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
  border-bottom: solid 1px #aaaaaa;
  line-height: 2px;
}

/*Nav Left*/
.nav .left {
  display: flex;
  align-items: center;
}

.nav .left li a {
  text-decoration: none;
  color: #4a5568;
  font-size: 1.1rem;
  padding: 3px 16px;
  display: block;
}
.nav .left li a:hover {
  color: #000;
}

/*Nav Right*/
.nav .right a:first-child {
  margin-right: 5px;
}




.logo {
  font-weight: bold;
}
